* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #3d3d3d;
}


/*header*/

header {
    width: 100%;
    background: #efebea;
    position: fixed;
}

.cabecera {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;
}

.logo {
    width: 11em;
    height: auto;
    padding-left: 1em;
}

.menu-icon {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: .9rem;
    color: #8C8C8C;
    padding: 0.5rem 2rem;
    transition: all 0.2s linear;
    border-radius: 5px;
}

ul li a:hover {
    text-decoration: none;
    background-color: #e6bfbf;
    color: #ffffff;
}




/*main*/

.contenido_principal {
    height: 800px;
    background: #efebea;
    color: #3d3d3d;
    padding-top: 4em !important;
}

.caja_contenido_principal{
    height: auto;
    padding-top: 4em !important; 
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 4em;
}

.img-main{
    height: 590px;
    width: 50%;
    padding-bottom: 40px;
    opacity: 70%;
    border-radius: 20px;
}

.caja_contenido_principal h1{
    text-align: center;
    font-size: 4rem;
}

.caja_contenido_principal h4{
    font-size: 1.5rem;
    text-align: center;
}

.caja_contenido_principal p{
    padding-top: 7em;
    font-size: 1rem;
    text-align: center;
}

.caja-button-main{
    width: 400px;
    height: 60px;
    padding: 10px;
    margin: 0 0 0 0 !important;
    padding-left: 40%;
}

.button-main{

    color: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 1px solid #3d3d3d;
}

/*Primera seccion*/

.primera-sec{
    padding-top: 6em;
}

.primera-sec h2{
    text-align: center;
    padding-bottom: 30px;
}

.img-primera-sec{
    background: url(../img/sobreMi.jpg);
    width: 50%;
}

.contenedor-primera-sec{
    display: grid;
    grid-template-columns: ;
}


/*Responsive mobile*/

@media only screen and (max-width:767px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 2rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .cabecera {
        flex-wrap: wrap;
    }
    ul {
        display: none;
        /*voy a usar más adelante JS para hacer un menú desplegable*/
    }
    ul li {
        display: block;
    }

    .caja_contenido_principal{
        flex-wrap: wrap;
    }

    .contenido_principal {
        margin: 0 auto;
    }

    .img-main{
        width: 300px;
        height: 450px;
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .caja_contenido_principal p{
        padding-top: 2em;
        font-size: 1.5rem;
        text-align: center;
    }

}